certifi==2020.12.5
chardet==3.0.4
contourpy==1.0.7
cx-Freeze==6.14.9
cx-Logging==3.1.0
cycler==0.11.0
DateTime==5.1
fonttools==4.39.4
googletrans==3.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
importlib-resources==5.12.0
kiwisolver==1.4.4
lief==0.13.0
lxml==4.6.2
matplotlib==3.7.1
numpy==1.24.1
packaging==23.1
Pillow==9.5.0
pyparsing==3.0.9
PyPDF2==1.26.0
PySimpleGUI==4.60.4
python-dateutil==2.8.2
python-docx==0.8.10
pytz==2023.3
rfc3986==1.4.0
scipy==1.10.0
six==1.16.0
sniffio==1.2.0
zipp==3.15.0
zope.interface==6.0
